:root {
  /* COLORS */
  --page-bg: hsl(180, 52%, 96%);
  --light-text: hsl(180, 31%, 95%);
  --dark-text: hsl(180, 8%, 52%);
  --highlight-text: hsl(180, 14%, 20%);
  --box-shadow: 0px 10px 10px #4949491c;
}

html {
  font-size: 62.6%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-size: 1.5rem;
  background-color: var(--page-bg);
  min-height: 100vh;
}

.page-header {
  background-color: #5da5a4;
  background: url('./images/bg-header-mobile.svg') no-repeat, #5da5a4;
  background-size: cover;
  height: 156px;
}

.jobs {
  position: relative;
}

.filter-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  visibility: hidden;
  padding-right: 16px;
  background-color: #ffffff;
  border-radius: 5px;

  position: relative;
  top: -36px;
}

.filter-btns::after,
.job::after {
  z-index: -1;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: var(--box-shadow);
}

.show-btns {
  visibility: visible;
}

.filter-boxes {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  padding: 18px 20px;
}

.filter-boxes div {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--page-bg);
  color: #5da5a4;
  border-radius: 5px 0 0 5px;
}

label {
  margin-left: 8px;
  font-weight: bold;
}

input[type='checkbox'] {
  display: grid;
  place-content: center;
  margin-left: 12px;
  width: 22px;
  height: 22px;
  appearance: none;
}

input[type='checkbox']::before {
  content: 'X';
  color: #ffffff;
  font-size: 1.4rem;
  font-weight: 600;
  width: 22px;
  height: 22px;
  display: grid;
  place-items: center;
  background-color: #5da5a4;
  z-index: 1;
}

input[type='checkbox']:hover::before {
  background-color: var(--highlight-text);
  cursor: pointer;
}

.clear-btn {
  background: none;
  border: none;
  font-weight: bold;
  color: var(--dark-text);
  cursor: pointer;
}

.jobs {
  width: 88%;
  margin: 0 auto;
}

.job {
  background-color: #ffffff;
  margin-bottom: 36px;
  padding: 32px 22px 22px 22px;
  border-radius: 5px;
  position: relative;
}

.jobs > div:nth-of-type(2) {
  margin-top: 18px;
}

.job-logo {
  width: 50px;
  height: 50px;
  position: absolute;
  top: -25px;
  left: 16px;
}

.job-logo img {
  max-width: 100%;
}
