:root {
  /* COLORS */
  --page-bg: hsl(180, 52%, 96%);
  --light-text: hsl(180, 31%, 95%);
  --dark-text: hsl(180, 8%, 52%);
  --highlight-text: hsl(180, 14%, 20%);
}

html {
  font-size: 62.6%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-size: 1.5rem;
  background-color: var(--page-bg);
  min-height: 100vh;
}

div.filter {
  background-color: #5da5a4;
  background: url('./images/bg-header-mobile.svg') no-repeat, #5da5a4;
  background-size: cover;
  height: 150px;
}
